[user]
	name = Khaliq
	email = khaliqgant@gmail.com

[credential]
	helper = osxkeychain

[pull]
	rebase = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
